.survey-form {
  display: flex;
  flex-direction: row-reverse;
}

.action-button {
  display: flex;
  justify-content: flex-end;
}

.action-button button {
  width: 100px;
  padding: 8px;
  background: #007bff;
  color: #fff;
  border-color: #007bff;
  border-radius: 5px;
  box-shadow: none;
  cursor: pointer;
  font-size: 1.1em;
}

.action-button button:disabled {
  opacity: 0.65;
}

hr {
  margin: 20px 0;
}
