:host {
  --padding-container: 10px;
}

.question {
  border: 1px solid;
  border-color: #b9b5b5;
  border-radius: 10px 10px 0 0;
  margin: 10px;
  padding-top: 0;
  width: 500px;
}

.question.is-valid {
  border-color: #00bb48;
  border-width: 2px;
}

.question-header > * {
  padding: var(--padding-container);
}

.title {
  background-color: #1976d2;
  color: white;
  border-radius: 9px 9px 0 0;
  font-weight: 300;
}

.desc {
  background-color: white;
}

.question-body {
  padding: var(--padding-container);
  min-height: 100px;
  background-color: lightgray;
  display: flex;
  align-items: center;
}

.question-body .content {
  width: 100%;
  font-size: 1.1rem;
}

.option {
  margin-bottom: 5px;
  display: flex;
}

.footer {
  padding: var(--padding-container);
  display: flex;
  justify-content: flex-end;
}

.footer button {
  width: 80px;
  padding: 5px;
  cursor: pointer;
}

.footer button:disabled {
  cursor: not-allowed;
}
