<section class="question">
  <header class="question-header">
    <h2 class="title">
      {{ question.title }}
    </h2>
    <p class="desc">
      {{ question.description }}
    </p>
  </header>

  <section class="question-body">
    <section class="content">
      <app-survey-question-free-text
        *ngIf="question.type == 'free-text'"
        [question]="question"
        (valueChanged)="valueChanged($event)"
      ></app-survey-question-free-text>

      <app-survey-question-yes-no
        *ngIf="question.type == 'yes-no'"
        [question]="question"
        (valueChanged)="valueChanged($event)"
      ></app-survey-question-yes-no>

      <app-multi-choice-question
        *ngIf="question.type == 'multi-choice'"
        [question]="question"
        (valueChanged)="valueChanged($event)"
      ></app-multi-choice-question>

      <app-single-choice-question
        *ngIf="question.type == 'single-choice'"
        [question]="question"
        (valueChanged)="valueChanged($event)"
      ></app-single-choice-question>
    </section>
  </section>
  <footer class="footer">
    <button (click)="save($event)" [disabled]="!value">Save</button>
  </footer>
</section>
