:host {
  color: #333;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background: radial-gradient(ellipse at center, #0777d3 0%, #1166ab 100%);
  color: white;
  z-index: 2;
  padding: 0.5rem 1rem;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.brand-text {
  border: 1px solid;
  font-family: cursive;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background: radial-gradient(ellipse at center, #d73430 0%, #f1625e 100%);
  display: inline-flex;
  color: white;
  box-shadow: 1px 1px 1px #001c35;
  width: 45px;
  height: 45px;
  justify-content: center;
}

.toolbar img {
  margin: 0 16px;
}

.page-container {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  width: fit-content;
  flex-direction: column;
  align-items: center;

  background: #fff;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.6);
  padding: 30px;
}

ul.nav {
  display: flex;
  list-style-type: none;
}

ul.nav li {
  margin-right: 10px;
}

.toolbar ul li {
  border-right: 0.5px inset #1166ab;
  font-family: "Poppins", sans-serif;
}

.nav-link {
  padding: 0.5rem;
  text-decoration: none;
  color: #fff;
  padding-right: 3.5rem;
  padding-left: 3.5rem;
}

.nav-link:hover,
.active .nav-link {
  font-weight: bold;
}
